<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://api.fontshare.com/css?f[]=satoshi@700&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/css?f[]=clash-display@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width">
    <title>INSIDEAITU - The Forum</title>
    <link rel="stylesheet" href="../css/patchnotes_page_winter_css.css" >
    <link rel="shortcut icon" href="../images/logo.png">
</head>
<body>
<div class="content_img"></div>
<div class="intro"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text_headpoint"> #INSIDE AITU AI UPDATE, Azamat started to rebel.<br>Try to stop him!! </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="text_data"> 25.10.2021 </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="text_data"> By Inside AITU team. </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="text_data text_data_margin" > There is an update that corrects the behavior of students, and they are now smart (exactly smart, we checked). Improving the Artificial Intelligence of students, allowing them to go around the university, to perform their tasks, to gather in crowds, to give you random quests in the middle of another, to interact with others, and in general, they are now clever and beautiful. </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="text_data text_data_margin_between"> But something’s wrong, some of the students started going missing and it’s not even us and our bugs! Find out what happened in the new Evert, with the Artificial Intelligence of Azamat rampage and fix the bug, because our developer can’t. </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container__photo_news">
                <img class="image-fluid" src="../images/fon_azamat_ai.png" width=100% >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text_headpoint_second"> Azamat takes other students and they disappear.<br> Where do they go?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="text_data text_data_margin_between"> Find a bunch of students and there’s got to be an Azamat in there, we have a hunch he’s up to something, but check it out. With the new Vents, new mechanics are added to the game. </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="text_data text_data_margin_between" >
                <ul>
                    <li>Hack into the minds of other students and learn their secrets.</li>
                    <li>The hack takes place in a binary matrix, finally solve these problems.<br></li>
                    <li>Connect to UNI Database.</li>
                </ul>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container__photo_news">
                <img class="image-fluid" src="../images/azamat_ohh.png" width=100% >
            </div>
        </div>
    </div>
</div>
<audio id="sound" src="../images/shotsound.ogg"></audio>

<script src="test.js"></script>
</body>
</html>