<head>
    <link rel="stylesheet" href="profiles.css" />
</head>
<div class="container">

    <h1 class="table" style=" color: #ffffff;
    font-size: 20px"> User Manager</h1>
    <table class="table">
        <thead>
        <th style="
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-size:24px;
    text-decoration: none;">id</th>
        <th style="
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-size:24px;
    text-decoration: none;">email</th>
        <th style="
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-size:24px;
    text-decoration: none;">role</th>
        </thead>
        <tbody>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">admin</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="">admin@gmail.com</a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Admin</option>
                        <option value="MODERATOR">Moderator</option>
                        <option value="CLIENT">Client</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">ayboolean</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/62988bdf127544779c593387">ayboolean@gmai.com</a></td>

        <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Moderator</option>
                        <option value="MODERATOR">Client</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">asphx</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href=/public/profile/62988c42127544779c593388">azik7769@gmail.com</a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Moderator</option>
                        <option value="MODERATOR">Client</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">grunbyer</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/62988c92127544779c593389">agzammaksotov@gmail.com</a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Moderator</option>
                        <option value="MODERATOR">Client</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">Dragon</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/62988cd2127544779c59338a">221334@astanait.edu.kz</a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Client</option>
                        <option value="MODERATOR">Moderator</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">r4khic2002</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/62988d7e127544779c59338c">r4khic2002@gmail.com</a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Client</option>
                        <option value="MODERATOR">Moderator</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">yeapit</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/62988ef6127544779c59338e">yeapit@gmail.com</a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Client</option>
                        <option value="MODERATOR">Moderator</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">path_less_travelled</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/629890ef127544779c593392">less2001as@mail.ru
            </a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Client</option>
                        <option value="MODERATOR">Moderator</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">ortemmetro
            </td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/6298925e127544779c593398">ortemmetro@gmail.com
            </a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Client</option>
                        <option value="MODERATOR">Moderator</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">nurlbk</td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/62989308127544779c59339a">nurlbkmaks@gmail.com
            </a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Client</option>
                        <option value="MODERATOR">Moderator</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td style="
              color: #cecece;
              font-family: 'Satoshi', sans-serif;
              font-size:18px;
              text-decoration: none;">blvckxwhite
            </td>
            <td><a style="
    color: #cecece;
    font-family: 'Satoshi', sans-serif;
    font-size:18px;
    text-decoration: none;" href="/public/profile/62989585127544779c5933a3">whitexblack@mail.ru
            </a></td>
            <td>
                <form action="/admin/update-role" method="post" class="manage-user-form">
                    <input type="hidden" name="id" value="<%= user.id %>" />
                    <select name="role" id="role">
                        <option value="ADMIN" >Client</option>
                        <option value="MODERATOR">Moderator</option>
                        <option value="CLIENT">Admin</option>
                    </select>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
